.fonts {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Indie Flower', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Handlee', cursive;
  font-family: 'Kalam', cursive;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Covered By Your Grace', cursive;
  font-family: 'Nothing You Could Do', cursive;
  font-family: 'Merienda', cursive;
}

#Nunito {
  font-family: 'Nunito', sans-serif;
}
#Kalam {
  font-family: 'Kalam', cursive;
}
#Architects {
  font-family: 'Architects Daughter', cursive;
}
#Rock {
  font-family: 'Rock Salt', cursive;
}
#Nothing {
  font-family: 'Nothing You Could Do', cursive;
}

:root {
  --main-font-color: white;
  --title-font: 'Rock Salt', cursive;
  --main-font: 'Nunito', sans-serif;
}

html, body {
  font-family: var(--main-font);
  position: relative;
}
.logo {
  position: fixed;
  top: 2vh;
  left: 1vw;
  z-index: 98;
}
.logo p {
  text-align: center;
  z-index: 99;
}
.logo-pic {
  height: 9vh;
  width: 8vw;
  z-index: 100;
}

/* Opening shot - top of page */
/* ******************************* */
#top {
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    url(images/working_on_ledge.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#menu-bar {
  font-size: 2em;
}
#home {
  color: var(--main-font-color);
  position: absolute;
  top: 45%;
  left: 20%;
}
#home h1 {
  font-size: 3.5em;
}

/* About me section */
/* ******************************* */
#about-me {
  margin: 10vh 10vw;
}
#about-me h1 {
  text-align: center;
  margin-bottom: 8vh;
  font-size: 3.5em;
}
#about-me p {
  font-size: 1.8em;
}
#about-me h3 {
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
}
#about-me-card {
  width: 25vw;
}
#about-me-card .extra {
  padding: 10px;
}

/* Projects section */
/* ******************************* */
#projects-title {
  height: 40vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)
    ),
    url(images/dream.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects-title div {
  height: 6vh;
  width: 30vw;
}
#projects-title h1 {
  color: var(--main-font-color);
  font-size: 3.5em;
  text-align: center;
}
#projects {
  margin: 10vh 0 14vh 0;
}
.project-image {
  width: 45vw;
  height: 55vh;
  margin: 7vh auto 0 auto;
  position: relative;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#LUC {
  background: url(images/levelupcode.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 50;
}
#LUC:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)),
    url(images/levelupcode.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#LUC:hover .middle {
  opacity: 1;
}
#SPR {
  background: url(images/SPR_site.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#SPR:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)),
    url(images/SPR_site.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#SPR:hover .middle {
  opacity: 1;
}
.project-heading {
  background: linear-gradient(
    rgba(255, 255, 255, 0.85), 
    rgba(255, 255, 255, 0.85));
  text-align: center;
  font-size: 2.5em;
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  height: 7vh;
  background: white;
  opacity: 0.8;
  font-size: 2em;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
}
.segment.project-desc {
  width: 45vw;
  margin: 0 auto;
  padding-top: 30px;
}

/* Blog Section */
/* ******************************* */
#blog-title {
  height: 40vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)
    ),
    url(images/writing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blog-title div {
  height: 6vh;
  width: 30vw;
}
#blog-title h1 {
  color: var(--main-font-color);
  font-size: 3.5em;
  text-align: center;
}
.blog-bcg {
  height: 130vh;
  width: 100%;
  background-color: #D3D4D4;
}
#blog {
  margin: auto;
  width: 55vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#blog a {
  font-size: 1.75em;
  font-family: 'Architects Daughter', cursive;
}
.blog-image {
  height: 95vh;
}
#Teaching {
  background: url(images/blog_am_to_pro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Teaching:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)),
    url(images/blog_am_to_pro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Teaching:hover .middle {
  opacity: 1;
}
#Pairing {
  background: url(images/blog_pair_program.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Pairing:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)),
    url(images/blog_pair_program.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Pairing:hover .middle {
  opacity: 1;
}
#Freelancing {
  background: url(images/blog_freelance.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Freelancing:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)),
    url(images/blog_freelance.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Freelancing:hover .middle {
  opacity: 1;
}

/* Blog Section */
/* ******************************* */
#videos-title {
  height: 40vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.85)
    ),
    url(images/laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#videos-title div {
  height: 6vh;
  width: 30vw;
}
#videos-title h1 {
  color: var(--main-font-color);
  font-size: 3.5em;
  text-align: center;
}
#videos {
  /* width: 85vw; */
  height: 80vh;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
}

/* Contact */
/* **************************** */
#contact {
  height: 92vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.70), 
      rgba(0, 0, 0, 0.70)
    ),
    url(images/working.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
#contact #contact-me-title {
  height: 10vh;
  width: 70vw;
  margin: 7vh;
}
#contact h1 {
  color: var(--main-font-color);
  font-size: 3.5em;
  text-align: center;
}
#contact form label {
  font-size: 1.6em;
  color: var(--main-font-color);
  font-family: var(--main-font);
}
.fields .field {
  width: 50%;
}

footer {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.692);
}
footer div {
  width: 20vw;
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--main-font);
}
footer div a {
  color: white;
}
